<app-template-header title="Checklista" subtitle="Skapa och hantera checklistor" buttonText="Skapa"
  (buttonClick)="openModal()">
</app-template-header>

<app-checklist-modal *ngIf="showModal" [checklist]="selectedChecklist" (close)="closeModal()"
  (save)="saveChecklist($event)">
</app-checklist-modal>

<div class="checklist-container">

  @for (checklist of checklists; track $index) {
  <app-checklist-set-card [title]="checklist.title" [description]="checklist.description"
    [checklistExamples]="checklist.items">
  </app-checklist-set-card>
  }

</div>