:root {

  /* COLORS */
  --primary-color: #8b5cf6;
  --primary-hover: #7c3aed;
  --background-color: #f5f5f5;
  --card-background: #ffffff;
  --text-color: #111111;
  --text-light: #666666;
  --border-color: #eeeeee;

  /* SHADOW */
  --box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);

  /* RADIUS */
  --border-radius: 20px;

  /* SPACING */
  --spacing-sm: 12px;
  --spacing-md: 24px;
  --spacing-lg: 32px;
}

/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--background-color);
  color: var(--text-color);
}

/*CSS for the tabels in student-page, courses-page and courses-session-page */
.tableDiv {
  background: var(--card-background);
  overflow-y: auto;
  max-height: 24em;
  border-radius: 14px;
  box-shadow: 0 4px 12px #0f172a0f;
}

.avatar {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar .material-symbols-outlined {
  font-size: 24px;
  color: #7c3aed;
  background: #f3e8ff;
  border-radius: 50%;
  padding: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: var(--card-background);
}

table thead th {
  text-align: left;
  font-size: 14px;
  padding: 14px 16px;
  position: sticky;
  top: 0;
  background: #fafafa;
  z-index: 10;
  font-weight: 700;
  border-bottom: 1px solid #e5e7eb;
  color: #111827;
}


tbody tr {
  background: white;
  transition: background-color 0.2s ease;
}

tbody td {
  padding: 14px 16px;
  font-size: 15px;
  border-bottom: 1px solid #f3f4f6;
  color: #374151;
}

tbody tr:hover {
  background: #faf5ff;
}

tbody tr:last-child td {
  border-bottom: none;
}

.actions-column {
  width: 1px;
  text-align: left;

}

.clickable-row {
  cursor: pointer;
}

.clickable-row:hover {
  background-color: #faf5ff;
}

.page-header {
  background: white;
  border: 1px solid #e5e7eb;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: 0 4px 12px #0f172a0f;
}

/* Media quarys för mobil*/

@media screen and (max-width: 768px) {
  app-sidebar {
    display: none !important;
  }

  app-root {
    grid-template-columns: 1fr !important;
    grid-template-areas:
      'header'
      'page'
      'footer'
      !important;
  }

  app-footer {
    display: block;
    grid-area: footer;
  }
}

@media screen and (min-width: 769px) {
  app-footer {
    display: none !important;
  }

  app-root {
    grid-template-areas:
      'header header'
      'sidebar page'
      !important;
  }

  app-root {
    grid-template-rows: 80px 1fr !important;
  }
}

@media (max-width: 1150px) {

  table thead th,
  tbody td {
    padding: 12px 8px;
    font-size: 13px;
    white-space: nowrap;
  }

  .avatar {
    gap: 8px;
  }
}