<div class="menu-container">
    <button class="menu-button" (click)="toggleMenu()">⋮</button>

    @if (isOpen) {
    <div class="dropdown-menu">
        <button (click)="edit.emit()">Redigera</button>
        <button>Ladda ner</button>
        <button (click)="openModal()">Radera</button>
    </div>
    }
</div>

@if (showModal) {
<app-confirmation-modal 
    [item]="item?.namn || item?.name || item?.gruppNamn || item?.title || (item?.fornamn + ' ' + item?.efternamn)"
    (close)="closeModal()" 
    (confirm)="deleteItem()">
</app-confirmation-modal>
}