<header class="app-header">
    <div class="header">
        <div class="header-left">
            <h1 class="title">FIB Portal</h1>
        </div>
        <div class="header-right">

            <!-- Dark/Light-mode-knapp -->
            <button class="mode-btn">
                <span class="material-symbols-outlined">dark_mode</span><span class="separator">/</span>
                <span class="material-symbols-outlined">light_mode</span>
            </button>

            <!-- Profilbild -->
            <button class="profile-btn">
                <span class="material-symbols-outlined">account_circle</span>
            </button>

        </div>
    </div>
</header>