<header class="app-header">
    <div class="header">
        <div class="header-left" routerLink="/start">
            <div class="logo-icon">
                <span class="material-symbols-outlined logo-icon">
                    school
                </span>
            </div>
            <div class="logo-text">
                <h1>EWS</h1>
                <span>EDUWORKSPACE</span>
            </div>
        </div>
        <div class="header-right">

            <!-- Dark/Light-mode-knapp -->
            <button class="mode-btn" (click)="toggleTheme()">
                <span class="material-symbols-outlined" [class.active]="!darkMode">
                    light_mode
                </span>

                <span class="separator">/</span>

                <span class="material-symbols-outlined" [class.active]="darkMode">
                    dark_mode
                </span>
            </button>

            <!-- Profilbild -->
            <button class="profile-btn">
                <span class="material-symbols-outlined">account_circle</span>
            </button>

        </div>
    </div>
</header>