<app-header></app-header>
<div class="layout">
    <app-sidebar (checklistClick)="showModal.set(true)"> </app-sidebar>
    <section class="page">
        <div class="checklist-container">
            @for (checklist of (checklists()); track $index) {
            <app-checklist-set-card [title]="checklist?.title" [description]="checklist?.description"
                [checklistExamples]="checklist?.items ?? []">
            </app-checklist-set-card>
            }
        </div>
        <router-outlet></router-outlet>
    </section>
    @if (showModal()) {
    <app-checklist-modal (close)="showModal.set(false)" (save)="addChecklist($event)">
    </app-checklist-modal>
    }
</div>
