:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tableDiv {
    flex: 1;
    max-height: none;
    overflow-y: auto;
    overflow-x: auto;
}

@media (max-width: 950px) {

    .mobile-hidden {
        display: none;
    }

}