:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tableDiv {
    flex: 1;
    max-height: none;
    overflow-y: auto;
    overflow-x: auto;
}

@media (max-width: 1150px) {

    table thead th,
    tbody td {
        padding: 10px 8px;
        font-size: 13px;
    }

    .avatar {
        gap: 8px;
    }

    .material-symbols-outlined {
        font-size: 20px;
    }

}

@media (max-width: 950px) {

    .mobile-hidden {
        display: none;
    }

}