<div class="checklist-card">

    <div class="card-header">
        <div class="icon-title-wrapper">
            <span class="material-symbols-outlined">
                assignment_turned_in
            </span>
            <div class="header-text">
                <h2>{{ title }}</h2>

                @if (description) {
                <p>{{ description }}</p>
                }
            </div>
        </div>

        <button class="menu-btn" (click)="toggleMenu()">⋯</button>

        @if (menuOpen) {
        <div class="dropdown-menu">
            <button>Redigera</button>
            <button>Radera</button>
        </div>
        }
    </div>
    <hr />

    <div class="checklist-preview">
        <ul class="checklist">
            @for (item of (showAll ? checklistExamples : checklistExamples.slice(0, 3)); track $index) {
            <li>
                <label class="check-item">
                    <input type="checkbox" [checked]="item.done" (change)="toggleItem(item)" />
                    <span>{{ item.text }}</span>
                </label>
            </li>
            }
        </ul>

        @if (checklistExamples.length > 3) {
        <button class="details-btn" (click)="toggleDetails()">
            {{ showAll ? 'Visa mindre' : 'Visa mer' }}
        </button>
        }

    </div>
</div>