<div class="checklist-card">

    <div class="card-header">
        <div class="icon-title-wrapper">
            <span class="material-symbols-outlined">
                assignment_turned_in
            </span>

            <div class="header-text">
                <h2>{{ title }}</h2>

                @if (description) {
                <p>{{ description }}</p>
                }
            </div>
        </div>
        <app-dropdown-menu [item]="{ name: title }" (click)="$event.stopPropagation()"
            (delete)="removeChecklist($event)" (edit)="edit.emit()">
        </app-dropdown-menu>
    </div>
    <hr />

    <div class="checklist-preview">
        <ul class="checklist">
            <template>
            @for (item of (showAll ? checklistExamples : checklistExamples.slice(0, 3)); track $index) {
            <li>

               <input
                    type="checkbox"
                    [checked]="item.completed"
                    (change)="toggleItem(item)"
                    title="Markera checklistpunkt" />

                <label>
                    <span>{{ item.text }}</span>
                </label>

                @if (item.comments?.length) {

                <div class="comments">

                    @for(comment of item.comments; track $index) {

                    <div class="comment">
                        {{ comment }}
                    </div>

                    }

                </div>

                }

            </li>
            }
            </template>
        </ul>

        @if (checklistExamples.length > 3) {
        <button class="details-btn" (click)="toggleDetails()">
            {{ showAll ? 'Visa mindre' : 'Visa mer' }}
        </button>
        }

    </div>
</div>