<div class="overlay" (click)="close()">
  <div class="modal" (click)="$event.stopPropagation()">

    <div class="modal-header">
      <div>
        <h2>Lägg till student</h2>
        <!-- <p>Fält markerad med * ''</p> -->
      </div>
      <button class="modal-close-button">✕</button>
    </div>

    <div class="modal-body">
      <div class="form-row">
        <div class="form-group">
          <label>Förnamn</label>
          <input type="text" placeholder="Anna" />
        </div>
        <div class="form-group">
          <label>Efternamn</label>
          <input type="text" placeholder="Andersson" />
        </div>
      </div>

      <div class="form-group">
        <label>Grupp</label>
        <!-- TODO:  hämta alla grupper från backend när komponent skapas och lägg till i select-->
        <select>
          <option value="" disabled selected>Välj en grupp...</option>
        <!-- TODO:  ta bort nedan temporära options när backend koppling är uppsatt-->
          <option value="H124">A2 26</option>
          <option value="H124">A1 26</option>
          <option value="H124">H3 26</option>
          <option value="H124">H2 26</option>
          <option value="H124">H1 26</option>
        </select>
      </div>

      <div class="form-group">
        <div class="label-row">
          <label>Företag</label>
          <span class="optional">Frivillig</span>
        </div>
        <input type="text" placeholder="Volvo" />
      </div>

      <div class="form-group">
        <div class="label-row">
          <label>Telefonnummer</label>
          <span class="optional">Frivillig</span>
        </div>
        <input type="tel" placeholder="073-123 45 67" />
      </div>

      <div class="form-group">
        <div class="label-row">
          <label>E-post</label>
          <span class="optional">Frivillig</span>
        </div>
        <input type="email" placeholder="erik.svensson@exempel.se" />
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn-cancel" (click)="close()">Avbryt</button>
      <button class="btn-confirm" (click)="confirm()">Skapa</button>
    </div>

  </div>
</div>
