<app-template-header class="header" title="Översikt"
    subtitle="Här får du en snabb överblick av arbetslag och kurstillfällen " buttonText="Lägg till kommentar">
</app-template-header>

<div class="cards">
    <div class="card">
        <span class="material-symbols-outlined">groups</span>
        <h2>4</h2>
        <p>Pågående kurstillfälle</p>
    </div>
    <div class="card">

        <span class="material-symbols-outlined">
            people
        </span>
        <h2>18</h2>
        <p>Aktiva deltagare</p>
    </div>
    <div class="card">

        <span class="material-symbols-outlined">menu_book</span>
        <h2>6</h2>
        <p>Kurser</p>
    </div>
    <div class="card">

        <span class="material-symbols-outlined">calendar_month</span>
        <h2>2</h2>
        <p>Kommande kurstillfälle</p>
    </div>
</div>

<div class="section">
    <h2>Pågående kurstillfälle</h2>
    <div class="tableDiv">
        <table>
            <thead>
                <tr>
                    <th>Arbetslag</th>
                    <th>Kurs</th>
                    <th>Plats</th>
                    <th>Status</th>
                    <th>Deltagare</th>
                    <th class="action-menu"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let team of ongoingTeams" class="clickable-row" [routerLink]="['/groups/1/teams/1']">

                    <td>{{ team.teamName }}</td>
                    <td>{{ team.course }}</td>
                    <td>{{ team.location }}</td>

                    <td>
                        <span class="ongoing">
                            {{ team.status }}
                        </span>
                    </td>

                    <td class="link">
                        <div class="participants">
                            @for (participant of team.participants; track participant.name)
                            {<a href="#" [routerLink]="['/students/1']">{{ participant.name }}</a> <span> </span>}
                        </div>
                    </td>
                    <td class="actions-column" (click)="$event.stopPropagation()">
                        <app-dropdown-menu></app-dropdown-menu>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<div class="section">

    <h2>Kommande kurstillfälle</h2>

    <div class="tableDiv">

        <table>

            <thead>
                <tr>
                    <th>Arbetslag</th>
                    <th>Kurs</th>
                    <th>Plats</th>
                    <th>Status</th>
                    <th>StartDate</th>
                    <th>EndDate</th>
                    <th class="action-menu"></th>
                </tr>
            </thead>

            <tbody>

                <tr *ngFor="let group of upcomingGroups" class="clickable-row">

                    <td>{{ group.groupName }}</td>
                    <td>{{ group.course }}</td>
                    <td>{{ group.location }}</td>

                    <td>
                        <span class="upcoming">
                            {{ group.status }}
                        </span>
                    </td>
                    <td>{{group.startDate}}</td>
                    <td>{{group.endDate}}</td>
                    <td class="actions-column" (click)="$event.stopPropagation()">
                        <app-dropdown-menu></app-dropdown-menu>
                    </td>
                </tr>

            </tbody>

        </table>

    </div>

</div>

<div class="section">

    <h2>Senaste anteckningar</h2>

    <div class="tableDiv">

        <table>
            <thead>
                <tr>
                    <th>Datum</th>
                    <th>Tillhör</th>
                    <th>Anteckning</th>
                    <th class="actions-column"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let note of latestNotes" class="clickable-row">

                    <td>{{ note.date }}</td>
                    <td>{{ note.group }}</td>
                    <td>{{ note.note }}</td>
                    <td class="actions-column" (click)="$event.stopPropagation()">
                        <app-dropdown-menu></app-dropdown-menu>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="mobile-version">
    <div class="mobile-section-cards">
        <div class="mobile-statistik-button" (click)="scrollToOngoing()">
            <div class="mobile-statistik-name"><span class="material-symbols-outlined">groups</span>
                <p>Pågående arbetslag</p>
            </div>
            <p>4</p>
        </div>


        <div class="mobile-statistik-button clickable-row">
            <div class="mobile-statistik-name"><span class="material-symbols-outlined">
                    people
                </span>
                <p>Aktiva deltagare</p>
            </div>
            <p>18</p>
        </div>

      

        <div class="mobile-statistik-button">
            <div class="mobile-statistik-name" (click)="scrollToUpComingGroups()"><span class="material-symbols-outlined">calendar_month</span>
                <p>Kommande kurstillfälle</p>
            </div>
            <p>2</p>
        </div>

    </div>


    <div class="mobile-cards">
        <div class="mobile-section">
            <h2 id="ongoing-section">Pågående arbetslag</h2>
        </div>
    </div>


    <div class="mobile-card clickable-row" *ngFor="let team of ongoingTeams" (click)="goToTeam()">
        <div class="mobile-card-header">
            <h2>{{ team.teamName }}</h2>
            <input type="file" accept="image/*" capture="environment" #cameraInput hidden
                (change)="onImageSelected($event)">
            <button type="button" class="btn-outline icon-btn"
                (click)=" $event.stopPropagation();$event.preventDefault(); cameraInput.click()">
                <span class="material-symbols-outlined">photo_camera</span>
            </button>
            <button class="btn-outline icon-btn">
                <span class="material-symbols-outlined">edit</span>
            </button>
        </div>
        <div class="mobile-card-info">
            <div class="mobile-card-left">
                <p class="mobile-info"><span class="material-symbols-outlined">menu_book</span>{{ team.course }}</p>
                <p class="mobile-info"><span class="material-symbols-outlined">location_on</span>{{ team.location }}
                </p>
            </div>
            <div class="mobile-card-right">

                <span class="ongoing">
                    {{ team.status }}
                </span>

            </div>
        </div>
        <hr />
        <h4 class="mobile-info"><span class="material-symbols-outlined">groups</span>Deltagare</h4>
        <p class="link">
        <div class="participants">
            @for (participant of team.participants; track participant.name)
            {<a [routerLink]="['/students/1']" (click)="$event.stopPropagation()">{{ participant.name }}</a> <span>
            </span>}
        </div>
    </div>


    <div class="mobile-section">
        <h2 id="upcoming-groups">Kommande kurstillfälle</h2>

        <div class="mobile-card clickable-row" [routerLink]="['/groups/1']" *ngFor="let group of upcomingGroups">
            <div class="mobile-card-header">
                <h2>{{ group.groupName }}</h2>
                <input type="file" accept="image/*" capture="environment" #cameraInput hidden
                    (change)="onImageSelected($event)">
                <button type="button" class="btn-outline icon-btn"
                    (click)=" $event.stopPropagation();$event.preventDefault(); cameraInput.click()">
                    <span class="material-symbols-outlined">photo_camera</span>
                </button>
                <button class="btn-outline icon-btn">
                    <span class="material-symbols-outlined">edit</span>
                </button>
            </div>
            <div class="mobile-card-info">
                <div class="mobile-card-left">
                    <p class="mobile-info"><span class="material-symbols-outlined">schedule</span>{{group.startDate}} → {{group.endDate}}</p>
                   
                    <p class="mobile-info"> <span class="material-symbols-outlined">menu_book</span>{{ group.course }}
                    </p>
                    <p class="mobile-info"><span class="material-symbols-outlined">location_on</span>{{ group.location
                        }}</p>
                </div>
                <div class="mobile-card-right">
                    <span class="ongoing">
                        {{ group.status }}
                    </span>

                </div>
            </div>
    
        </div>
    </div>