<aside class="sidebar">

  <nav class="nav">
    <a class="nav-link">
      <span class="material-symbols-outlined">
        home
      </span>
      Översikt
    </a>

    <a class="nav-link kurser">
      <span class="material-symbols-outlined">
        menu_book
      </span>
      Kurser
    </a>

    <a class="nav-link elever">
      <span class="material-symbols-outlined">
        groups
      </span>
      Elever
    </a>

    <a class="nav-link klasser">
      <span class="material-symbols-outlined klasser">
        co_present
      </span>
      Klasser
    </a>

    <a class="nav-link kalender">
      <span class="material-symbols-outlined">
        calendar_month
      </span>
      Kalender
    </a>

    <a class="nav-link checklista">
      <span class="material-symbols-outlined checklista">
        checklist
      </span>
      Checklista
    </a>
  </nav>

  <div class="spacer"></div>
  <a class="nav-link settings">

    <span class="material-symbols-outlined">
      settings
    </span>

    Inställningar
  </a>

</aside>