<p>sidebar works!</p>
<aside class="sidebar">
  <div class="logga">
    🎓
    <span>FIB Portalen</span>
  </div>

  <nav class="Översikt">
    <a class="nav-link active">
      <span>⌂</span>
      Översikt
    </a>

    <a class="Kurser">
      <span>📖</span>
      Kurser
    </a>

    <a class="Elever">
      <span>👥</span>
      Elever
    </a>

    <a class="Klasser">
      <span>🖼️</span>
      Klasser
    </a>

    <a class="Kalender">
      <span>📅</span>
      Kalender
    </a>

    <a class="Checklista">
      <span>✅</span>
      Checklista
    </a>
  </nav>

  <a class="nav-link settings">
    <span>⚙️</span>
    Inställningar
  </a>
</aside>