<aside class="sidebar">

  <nav class="nav">
    <a class="nav-link" routerLink="/courses" routerLinkActive="active">
      <span class="material-symbols-outlined">
        home
      </span>
      Översikt
    </a>

    <a class="nav-link kurser" routerLink="/courses" routerLinkActive="active">
      <span class="material-symbols-outlined">
        menu_book
      </span>
      Kurser
    </a>

    <a class="nav-link elever" routerLink="/students" routerLinkActive="active">
      <span class="material-symbols-outlined">
        groups
      </span>
      Elever
    </a>

    <a class="nav-link klasser" routerLink="/courses" routerLinkActive="active">
      <span class="material-symbols-outlined klasser">
        co_present
      </span>
      Klasser
    </a>

    <a class="nav-link kalender" routerLink="/kalender" routerLinkActive="active">
      <span class="material-symbols-outlined">
        calendar_month
      </span>
      Kalender
    </a>

    <a class="nav-link checklista" routerLink="/courses" routerLinkActive="active">
      <span class="material-symbols-outlined checklista">
        checklist
      </span>
      Checklista
    </a>
  </nav>

  <a class="nav-link settings" routerLink="/courses" routerLinkActive="active">

    <span class="material-symbols-outlined">
      settings
    </span>

    Inställningar
  </a>

</aside>