<div class="overlay">

    <div class="modal">

        <div class="modal-header">

            <h2>Skapa Checklista</h2>

            <button class="close-btn" (click)="closeModal()">
                ✕
            </button>

        </div>

        <!-- Namn -->
        <div class="form-group">

            <label>Namn på listan</label>

            <input type="text" [(ngModel)]="title" placeholder="T.ex. Grupparbete" />

        </div>

        <div class="form-group">

            <label>Beskrivning</label>

            <textarea [(ngModel)]="description" placeholder="Eventuell beskrivning">
    </textarea>

        </div>

        <div class="form-group">
            <label>Checklistpunkter</label>

            @for (item of checklistItems; track $index) {
            <div class="check-item">

                <input type="checkbox" [(ngModel)]="item.done" aria-label="Checklist checkbox" />

                <input type="text" [(ngModel)]="item.text" placeholder="Skriv punkt..." aria-label="Checklist punkt" />

                <button type="button" class="move-btn" (click)="moveItemUp($index)" [disabled]="$index === 0">
                    ↑
                </button>

                <button type="button" class="move-btn" (click)="moveItemDown($index)"
                    [disabled]="$index === checklistItems.length - 1">
                    ↓
                </button>

                <button type="button" class="delete-btn" (click)="removeItem($index)">
                    ✕
                </button>

            </div>
            }

            <button type="button" class="add-btn" (click)="addItem()">
                + Lägg till punkt
            </button>
        </div>

        <div class="form-group">

            <label>Bilaga</label>

            <label for="fileUpload" class="upload-box">

                <span class="material-symbols-outlined upload-icon">
                    cloud_upload
                </span>

                <p>Ladda upp bild eller PDF</p>

                <small>PNG, JPG eller PDF</small>

            </label>

            <input id="fileUpload" type="file" accept="image/*,.pdf" hidden />

        </div>

        <!-- Actions -->
        <div class="actions">

            <button class="cancel-btn" (click)="closeModal()">
                Avbryt
            </button>

            <button class="save-btn" type="button" (click)="saveChecklist()">
                Spara
            </button>

        </div>

    </div>

</div>